@page
@model RegisterModel
@using KokaarQrCoder.Utility.Helpers
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Input.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Input.UserName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Input.Password"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Input.ConfirmPassword"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Input.Email"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Input.Role"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Input.Role, Model.Input.RoleList,
                    "-Please select a role", new { @class = "form-control" })
                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Input.CompanyId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Input.CompanyId, Model.Input.CompanyList,
                    "-Please select a company", new { @class = "form-control" })
                    <span asp-validation-for="Input.CompanyId" class="text-danger"></span>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
